<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
</head>
<body>
  <h3>Editing: {{pokemon.name}}</h3>

  <img src="{{pokemon.img}}" alt="{{pokemon.name}}">
  
  <form class="pokemon-form" method="POST" action="/{{pokemon.id}}?_method=PUT">
    <div class="pokemon-attribute">
      id:  {{pokemon.id}}<br><br>
    </div>
    <div class="pokemon-attribute">
      Num:  <input name="num" type="text" value="{{pokemon.num}}"/><br>
      <br>
    </div>
    <div class="pokemon-attribute">
      Name:  <input name="name" type="text" value="{{pokemon.name}}"/><br>
      <br>
    </div>
    <div class="pokemon-attribute">
      Image: <input name="img" type="text" value="{{pokemon.img}}"/><br>
      <br>
    </div>
    <div class="pokemon-attribute">
      Height:  <input name="height" type="text" value="{{pokemon.height}}"/><br>
      <br>
    </div>
    <div class="pokemon-attribute">
      Weight:  <input name="weight" type="text" value="{{pokemon.weight}}"/><br>
      <br>
    </div>
    <input name="submit" type="submit"/>
  </form>
  <br>
  <form method="POST" action="/{{pokemon.id}}?_method=DELETE">
    <input type="submit" name="delete" value="Delete" />
  </form>

</body>
</html>
